# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

In [6]:
import pandas as pd
df1 = pd.read_csv("Datos_Ventas_Tienda.csv")
df2 = pd.read_csv("Datos_Ventas_Tienda2.csv")
df1

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    1/17/2023  Electrónic         7              200         1400
1     9/1/2023  Electrónic         8              200         1600
2    7/29/2023    Juguetes         3               30           90
3    10/4/2023   Alimentos         4               10           40
4    2/28/2023  Electrónic         6              200         1200
..         ...         ...       ...              ...          ...
995  4/27/2023   Alimentos         2               10           20
996   6/9/2023        Ropa        10               50          500
997  8/21/2023   Alimentos         8               10           80
998  3/28/2023  Electrónic         6              200         1200
999   3/7/2023  Electrónic         4              200          800

[1000 rows x 5 columns]

In [7]:
df2

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    8/25/2023  Electrónic         5              200         1000
1    8/14/2023   Alimentos         9               10           90
2    8/30/2023        Ropa         6               50          300
3    11/9/2023   Alimentos         2               10           20
4   10/26/2023        Ropa         8               50          400
5    12/1/2023    Juguetes         2               30           60
6    5/16/2023  Electrónic         4              200          800
7     2/9/2023      Libros         1               20           20
8     1/9/2023  Electrónic         2              200          400
9     5/3/2023  Electrónic         6              200         1200
10  11/30/2023  Electrónic         5              200         1000
11  10/26/2023  Electrónic         1              200          200
12   8/22/2023    Juguetes         3               30           90
13    6/5/2023  Electrónic         1              200          200
14   10/2/2023    Juguetes         6               30          180
15   1/25/2023  Electrónic         3              200          600
16   5/20/2023        Ropa         4               50          200
17   4/29/2023   Alimentos         8               10           80
18  12/20/2023        Ropa         2               50          100
19   4/10/2023        Ropa         8               50          400
20   5/19/2023    Juguetes         5               30          150
21    2/3/2023  Electrónic         4              200          800
22    3/4/2023        Ropa         5               50          250
23  11/12/2023    Juguetes         7               30          210
24   5/22/2023      Libros         7               20          140
25  11/19/2023        Ropa         4               50          200
26   7/31/2023   Alimentos         6               10           60
27  10/11/2023        Ropa         6               50          300
28   12/9/2023    Juguetes         4               30          120
29    3/6/2023      Libros         9               20          180
30   3/27/2023   Alimentos         1               10           10
31   4/23/2023        Ropa         9               50          450
32   5/26/2023  Electrónic         6              200         1200
33   1/20/2023    Juguetes         5               30          150
34   3/22/2023   Alimentos         9               10           90
35   2/26/2023      Libros         9               20          180
36   7/30/2023    Juguetes         1               30           30
37  11/18/2023        Ropa         3               50          150
38   6/20/2023      Libros         8               20          160
39    6/6/2023      Libros         3               20           60
40    5/2/2023   Alimentos         5               10           50
41    8/7/2023  Electrónic         9              200         1800
42  11/18/2023    Juguetes         8               30          240
43   1/17/2023    Juguetes         8               30          240
44  10/10/2023      Libros         6               20          120
45   9/11/2023    Juguetes        10               30          300
46    1/3/2023    Juguetes        10               30          300
47   11/7/2023   Alimentos         3               10           30
48   8/20/2023  Electrónic         6              200         1200
49   7/21/2023    Juguetes         3               30           90

In [12]:
df = pd.concat([df1,df2])

In [14]:
#Primero arreglo las fechas a formato datetime
df["Fecha"] = pd.to_datetime(df["Fecha"],format="%m/%d/%Y")

In [17]:
# ¿Cuál es el producto más vendido?
# Segundo agrupo por tipo de producto y ordeno de forma descendente por cantidad
productos_mas_vendidos = df.sort_values(by=["Producto","Cantidad"],ascending=False)
productos_mas_vendidos

         Fecha   Producto  Cantidad  Precio Unitario  Total Venta
8   2023-03-22       Ropa        10               50          500
29  2023-05-19       Ropa        10               50          500
116 2023-07-14       Ropa        10               50          500
120 2023-01-18       Ropa        10               50          500
121 2023-01-25       Ropa        10               50          500
..         ...        ...       ...              ...          ...
826 2023-04-03  Alimentos         1               10           10
839 2023-05-17  Alimentos         1               10           10
843 2023-11-26  Alimentos         1               10           10
875 2023-09-27  Alimentos         1               10           10
30  2023-03-27  Alimentos         1               10           10

[1050 rows x 5 columns]

In [31]:
# ¿Cuál es el mes con más ventas?
# Tercero agrupo por mes y busco el que tenga mayor cantidad
df["Año"] = df["Fecha"].dt.strftime("%Y")
df["Mes"] = df["Fecha"].dt.strftime("%m")

In [82]:
mes_de_mas_venta = df.sort_values(by=["Año","Mes","Cantidad"], ascending=False).loc[["Producto","Cantidad"]]

KeyError: "None of [Index(['Producto', 'Cantidad'], dtype='object')] are in the [index]"

In [ ]:
mes_de_mas_venta.head(20)

In [77]:
agrupados = df.sort_values(by="Mes")

In [78]:
agrupados

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta   Año Mes
0   2023-01-17  Electrónic         7              200         1400  2023  01
884 2023-01-23        Ropa         7               50          350  2023  01
878 2023-01-27   Alimentos         9               10           90  2023  01
873 2023-01-27    Juguetes         3               30           90  2023  01
200 2023-01-26  Electrónic        10              200         2000  2023  01
..         ...         ...       ...              ...          ...   ...  ..
721 2023-12-27  Electrónic         8              200         1600  2023  12
723 2023-12-18   Alimentos         9               10           90  2023  12
917 2023-12-03  Electrónic         5              200         1000  2023  12
347 2023-12-12   Alimentos        10               10          100  2023  12
548 2023-12-31  Electrónic         8              200         1600  2023  12

[1050 rows x 7 columns]